/* styles.css */

/* Reseteo básico de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: $third-color;
  }
  
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  .header {
    background:white;
    color: $secundary-color;
    padding: 20px 0;
  }
  
  .header h1 {
    text-align: center;
  }
  
  .main-content {
    padding: 20px 0;
  }
  
  .contact-form {
    background: #fff;
    padding: 20px;
    margin: auto;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form h2 {
    margin-bottom: 20px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    border-color: #333;
    outline: none;
  }
  
  .contact-form button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .contact-form button:hover {
    background: #555;
  }
 